.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 32px;
    height: 3px;
    margin: 0 0 6px 0;
    border-radius: 5px;
    background-color: #FFF;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -5px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  transition: all 1s ease-out; }
  .menu.show {
    visibility: visible; }
  .menu .menu-branding,
  .menu .menu-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
  .menu .menu-nav {
    flex: 2;
    background-color: rgba(12, 36, 97, 0.822);
    transform: translateY(100%);
    transition: all 0.5s ease-out; }
    .menu .menu-nav.show {
      transform: translateY(0); }
    .menu .menu-nav .nav-item {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      transform: translateX(200%);
      transition: all 0.4s ease-out; }
      .menu .menu-nav .nav-item.show {
        transform: translateX(0); }
      .menu .menu-nav .nav-item a {
        display: block; }
        .menu .menu-nav .nav-item a:hover {
          color: #42a5f5;
          animation: a 1s linear infinite; }

@keyframes a {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  45% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
    .menu .menu-nav .current a {
      color: #42a5f5; }
    .menu .menu-nav .canvas-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: .3; }
  .menu .menu-branding {
    flex: 1;
    background-color: rgba(111, 30, 81, 0.9);
    transform: translateY(-100%);
    transition: all 0.8s ease-out; }
    .menu .menu-branding.show {
      transform: translateY(0); }
    .menu .menu-branding .portrait {
      width: 180px;
      height: 180px;
      background-image: url("../assets/img/img.png");
      background-position: center;
      background-position-y: 20%;
      background-size: cover;
      border-radius: 50%;
      border: 1px solid #ff69b4; }

.menu-nav .nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.menu-nav .nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.menu-nav .nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.menu-nav .nav-item:nth-child(4) {
  transition-delay: 0.8s; }

@font-face {
  font-family: gothamLight;
  src: url("../assets/fonts/GothamRounded-Light.otf"); }

@font-face {
  font-family: gothamMedium;
  src: url("../assets/fonts/GothamRounded-Medium.otf"); }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  color: #FFF;
  margin: 0;
  height: 100%;
  background-color: #192a56;
  font-family: gothamLight, sans-serif; }

ul {
  padding: 0;
  list-style-type: none;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-weight: 200;
  margin: 0; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading, h4.sm-heading, h5.sm-heading {
    max-width: max-content;
    margin-bottom: 2rem;
    padding: .2rem 1rem;
    background-color: rgba(27, 46, 94, 0.3); }

a {
  color: #FFF;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 1000;
  width: 100%; }

.text-secondary {
  color: #42a5f5; }

main {
  min-height: 100vh; }
  main .main-logo-link {
    display: inline-block;
    margin-bottom: 2rem; }
    main .main-logo-link .div-logo svg {
      height: 80px; }
      main .main-logo-link .div-logo svg .cls-0 .cls-1 {
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
        main .main-logo-link .div-logo svg .cls-0 .cls-1 polygon {
          stroke-width: 0;
          fill: transparent;
          transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
        main .main-logo-link .div-logo svg .cls-0 .cls-1 path {
          stroke: #42a5f5;
          stroke-width: 4px;
          fill: transparent;
          transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-12 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-25 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-2 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-4 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-5 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-6 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-8 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-10 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-11 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-12 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-15 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-17 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-18 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-19 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-21 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-23 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-24 polygon {
      fill: #3c40c6; }
    main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-1 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-3 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-7 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-9 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-14 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-16 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-20 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-22 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-27 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-28 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-29 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-30 polygon {
      fill: #f53b57; }
    main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-13 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-26 polygon {
      fill: #3c40c6; }
    main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-12 polygon, main .main-logo-link:hover .div-logo svg .cls-0 .cls-1.g-25 polygon {
      fill: #f53b57; }
    main .main-logo-link:hover .div-logo svg .cls-0 .cls-1 path {
      stroke: transparent; }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-1 {
      transform: translate(10px, 35px) rotate(4deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-2 {
      transform: translate(13px, 19px) rotateY(-20deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-3 {
      transform: translate(-30px, 7px) rotateY(40deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-4 {
      transform: translate(0px, 15px) rotateY(45deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-5 {
      transform: translate(-10px, -9px) rotateY(49deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-6 {
      transform: translate(-10px, -9px) rotateY(49deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-7 {
      transform: translate(-26px, -9px) rotateY(40deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-8 {
      transform: translate(21px, 13px) rotate(6deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-9 {
      transform: translate(-31px, -28px) rotateY(-35deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-10 {
      transform: translate(7px, 13px) rotateY(35deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-11 {
      transform: translate(-22px, -55px) rotate(-5deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-12 {
      transform-origin: 50% 40%;
      transform: translate(-87px, 131px) rotate(97deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-13 {
      transform: translate(-8px, -54px) rotate(-7deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-14 {
      transform: translate(33px, 22px) rotate(2deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-15 {
      transform: translate(-14px, 41px) rotateY(-4deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-16 {
      transform: translate(78px, -52px) rotate(6deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-17 {
      transform: translate(17px, 10px) rotate(2deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-18 {
      transform: translate(12px, 16px) rotateY(6deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-19 {
      transform: translate(12px, 16px) rotateY(6deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-20 {
      transform: translate(31px, 8px) rotateY(-6deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-21 {
      transform: translate(-38px, 33px) rotate(-1deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-22 {
      transform: translate(31px, -28px) rotateY(1deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-23 {
      transform: translate(-7px, 21px) rotateY(3deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-24 {
      transform: translate(8px, -80px) rotate(1deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-25 {
      transform-origin: 53% 40%;
      transform: translate(-48px, 30px) rotate(-93deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-26 {
      transform: translate(-12px, -88px) rotate(2deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-27 {
      transform: translate(-22px, -24px) rotate(3deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-28 {
      transform: translate(-21px, -44px) rotate(10deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-29 {
      transform: translate(18px, 8px) rotate(-3deg); }
    main .main-logo-link:hover .div-logo svg .cls-0 .g-30 {
      transform: translate(21px, 65px) rotate(-10deg); }
  main .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0 1rem; }
    main .icons a {
      transition: all 1s ease-out;
      margin: 0;
      margin-right: 1.5rem; }
      main .icons a:hover {
        color: #42a5f5;
        animation: a 1s linear infinite;
        transition: all 1s ease-out; }

@keyframes a {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  45% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 15vh; }
    main#home .home-canvas-div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      main#home .home-canvas-div canvas {
        display: block; }
    main#home .name {
      position: absolute; }
  main#home, main#about, main#contact {
    padding: 1.5rem; }
  main#work {
    padding: 0; }
    main#work .main-logo-link {
      margin-left: 2rem;
      margin-top: 2rem; }
  main#about .about-heading {
    margin: 0 0 2rem 0;
    padding: 1rem;
    color: cadetblue; }
  main#about .canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: .8;
    z-index: -1; }

.about-info {
  display: grid;
  grid-template-areas: 'bioimg' 'bio' 'job1' 'job2' 'job3';
  grid-gap: 30px;
  grid-template-columns: 1fr; }
  .about-info .bio-img {
    grid-area: bioimg;
    background-image: url("../assets/img/img.png");
    margin: auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid cadetblue; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.2rem; }
    .about-info .bio h3 {
      color: cadetblue;
      border-bottom: 1px solid #f53b57;
      width: max-content; }
    .about-info .bio ul {
      padding-left: 2rem;
      margin-top: 2rem;
      list-style-type: disc;
      color: #42a5f5; }
      .about-info .bio ul li {
        margin-bottom: .6rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 ul, .about-info .job-3 ul {
    list-style-type: disc;
    padding-left: 2rem;
    color: silver; }
    .about-info .job-2 ul li, .about-info .job-3 ul li {
      margin-bottom: .5rem; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    font-size: 1.1rem;
    background-color: #1f346a;
    border-bottom: 5px solid cadetblue;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 2px 6px #1f346a; }
    .about-info .job h3 {
      color: cadetblue;
      margin-bottom: .5rem;
      font-weight: 400;
      padding: 0 0 1rem 1rem;
      border-bottom: 1px solid cadetblue;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 1rem; }
  .about-info p {
    line-height: 1.6;
    font-weight: 200;
    color: silver; }

.projects {
  display: grid;
  grid-template-columns: 1fr; }
  .projects a {
    display: block; }
  .projects img {
    width: 100%; }
  .projects .item {
    width: 100%;
    margin: auto;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .projects .item::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%; }
    .projects .item .item-content-wrapper {
      position: absolute;
      padding: 3rem;
      left: 0;
      bottom: 0;
      text-transform: uppercase;
      color: #FFF;
      z-index: 2; }
      .projects .item .item-content-wrapper p {
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: .8rem; }
      .projects .item .item-content-wrapper h4 {
        font-size: .9rem;
        margin-bottom: 2rem; }
      .projects .item .item-content-wrapper .project-icons a {
        font-weight: bold;
        font-size: .8rem;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgba(255, 255, 255, 0.5);
        display: inline-block;
        padding: .6rem 1rem;
        margin-right: 2rem;
        position: relative; }
        .projects .item .item-content-wrapper .project-icons a:hover {
          background-color: #FFF;
          border-color: #FFF;
          transition: all 0.2s ease-out; }
          .projects .item .item-content-wrapper .project-icons a:hover::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.6) 75%); }
        .projects .item .item-content-wrapper .project-icons a i {
          font-size: .8rem;
          margin-right: .3rem; }
        .projects .item .item-content-wrapper .project-icons a:nth-of-type(1) {
          margin-bottom: 1rem; }
    .projects .item.item-00 {
      background-image: url("../assets/img/restaurant-img.png"); }
      .projects .item.item-00::after {
        background-color: rgba(44, 44, 84, 0.7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, 0.7), rgba(0, 0, 0, 0)); }
      .projects .item.item-00 a:hover {
        color: salmon; }
    .projects .item.item-0 {
      background-image: url("../assets/img/storyBook-img.png"); }
      .projects .item.item-0::after {
        background-color: rgba(44, 44, 84, 0.7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, 0.7), rgba(0, 0, 0, 0)); }
      .projects .item.item-0 a:hover {
        color: #cd6133; }
    .projects .item.item-1 {
      background-image: url("../assets/img/tourism-img.jpg"); }
      .projects .item.item-1::after {
        background-color: rgba(22, 36, 60, 0.7);
        background-image: linear-gradient(to right, rgba(22, 36, 60, 0.5), rgba(22, 36, 60, 0)); }
      .projects .item.item-1 a:hover {
        color: #16243c; }
    .projects .item.item-2 {
      background-image: url("../assets/img/star_shower.png"); }
      .projects .item.item-2::after {
        background-color: rgba(80, 9, 75, 0.5);
        background-image: linear-gradient(to right, rgba(80, 9, 75, 0.5), rgba(80, 9, 75, 0)); }
      .projects .item.item-2 a:hover {
        color: #50094b; }
    .projects .item.item-3 {
      background-image: url("../assets/img/task-list.png"); }
      .projects .item.item-3::after {
        background: rgba(97, 0, 58, 0.7);
        background-image: linear-gradient(to right, rgba(109, 33, 79, 0.7), transparent); }
      .projects .item.item-3 a:hover {
        color: #61003a; }
    .projects .item.item-4 {
      background-image: url("../assets/img/tank-shooter.png"); }
      .projects .item.item-4::after {
        background-color: rgba(15, 202, 218, 0.49);
        background-image: linear-gradient(to right, rgba(15, 202, 218, 0.49), transparent); }
      .projects .item.item-4 .project-icons a {
        color: #222;
        background-color: rgba(0, 0, 0, 0);
        border-color: #333; }
        .projects .item.item-4 .project-icons a:hover {
          color: #0fcada;
          background-color: #333;
          border-color: #333; }
          .projects .item.item-4 .project-icons a:hover::after {
            background-color: transparent;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 75%); }
      .projects .item.item-4 p, .projects .item.item-4 h4 {
        color: #222; }
    .projects .item.item-5 {
      background-image: url("../assets/img/bouncing-circles.png"); }
      .projects .item.item-5::after {
        background-color: rgba(24, 44, 97, 0.78);
        background-image: linear-gradient(to right, rgba(24, 44, 97, 0.78), rgba(24, 44, 97, 0)); }
      .projects .item.item-5 a:hover {
        color: #182c61; }
    .projects .item.item-6 {
      background-image: url("../assets/img/bouncing-balls.png"); }
      .projects .item.item-6::after {
        background-color: rgba(183, 157, 2, 0.75);
        background-image: linear-gradient(to right, rgba(183, 157, 2, 0.9), transparent); }
      .projects .item.item-6 .project-icons a {
        color: #222;
        background-color: transparent;
        border-color: #333; }
        .projects .item.item-6 .project-icons a:hover {
          color: yellow;
          border-color: #333;
          background-color: #333; }
          .projects .item.item-6 .project-icons a:hover::after {
            background-color: transparent;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 75%); }
      .projects .item.item-6 p, .projects .item.item-6 h4 {
        color: #222; }

.boxes {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 3rem; }
  .boxes div {
    position: relative;
    font-size: .8rem;
    padding: 1rem;
    border: 2px solid #42a5f5;
    border-radius: 4rem;
    margin-bottom: 2rem;
    cursor: text;
    letter-spacing: 2px;
    transition: all 0.3s ease-out; }
    .boxes div::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 4rem;
      transform: scale(0); }
    .boxes div:hover {
      transform: scale(1.1); }
      .boxes div:hover::after {
        background-color: #020307;
        opacity: .25;
        transform: scale(1);
        transition: all 0.3s ease-out; }

footer {
  background-color: #222326;
  color: #999aa1;
  font-family: gothamLight, sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.3rem; }
  footer .top {
    align-self: flex-end;
    display: flex; }
    footer .top a {
      padding: .7rem 1rem; }
      footer .top a svg {
        width: 1.4rem; }
        footer .top a svg path {
          stroke-width: 0;
          fill: #FFF;
          transition: all .2s ease-out; }
      footer .top a:hover svg path {
        fill: #42a5f5; }
  footer .bottom .left {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .bottom .left .logo-link {
      margin-bottom: 1rem; }
      footer .bottom .left .logo-link .logo svg {
        height: 80px; }
        footer .bottom .left .logo-link .logo svg .cls-0 {
          fill: transparent;
          stroke: #bbbcc3;
          stroke-width: 4px;
          opacity: .5; }
          footer .bottom .left .logo-link .logo svg .cls-0 .cls-1 {
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
        footer .bottom .left .logo-link .logo svg:hover .cls-0 .cls-1 {
          stroke: #42a5f5; }
    footer .bottom .left .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .bottom .left .footer-nav a {
        color: #999aa1;
        font-weight: bold;
        transition: color .2s ease-out; }
      footer .bottom .left .footer-nav > a:nth-of-type(1) {
        color: #FFF;
        margin-bottom: .8rem; }
        footer .bottom .left .footer-nav > a:nth-of-type(1):hover {
          color: #999aa1; }
      footer .bottom .left .footer-nav .nav-link {
        display: flex; }
        footer .bottom .left .footer-nav .nav-link a {
          padding: .3rem .4rem; }
          footer .bottom .left .footer-nav .nav-link a:nth-of-type(1)::after, footer .bottom .left .footer-nav .nav-link a:nth-of-type(2)::after {
            content: " | ";
            padding-left: .4rem;
            color: rgba(154, 155, 162, 0.486); }
          footer .bottom .left .footer-nav .nav-link a:hover {
            color: #FFF; }
  footer .bottom .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer .bottom .right div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .bottom .right div p {
        margin: 0; }
        footer .bottom .right div p:nth-of-type(1) {
          margin-bottom: .7rem; }
        footer .bottom .right div p:nth-of-type(2) {
          display: flex;
          justify-content: center;
          align-items: center; }
        footer .bottom .right div p svg {
          margin: 0 .3rem;
          width: 1rem;
          animation: a 1s linear infinite; }

@keyframes a {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  45% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
          footer .bottom .right div p svg path {
            stroke-width: 30px;
            stroke: #42a5f5;
            fill: transparent; }

@media only screen and (min-width: 480px) {
  h1, h2, h3 {
    font-weight: 200; }
    h1.lg-heading, h2.lg-heading, h3.lg-heading {
      font-size: 3rem; }
  .menu .menu-nav {
    flex: 1.7; }
  .menu .menu-branding {
    flex: 1; }
    .menu .menu-branding .portrait {
      width: 220px;
      height: 220px; }
  main {
    padding: 2rem;
    min-height: 100vh; }
    main#home h1 {
      margin-top: 15vh; } }

@media only screen and (min-width: 768px) {
  h1, h2, h3 {
    font-weight: 200; }
    h1.lg-heading, h2.lg-heading, h3.lg-heading {
      font-size: 4.5rem; }
  .menu {
    flex-direction: row; }
    .menu .menu-nav {
      flex: 1.5;
      transform: translateY(-100%); }
      .menu .menu-nav .nav-item {
        margin-bottom: 2rem;
        font-size: 2rem; }
    .menu .menu-branding {
      flex: 1;
      transform: translateY(100%); }
      .menu .menu-branding .portrait {
        width: 250px;
        height: 250px; }
  main {
    padding: 3.5rem; }
    main#home h1 {
      margin-top: 20vh; }
  .about-info {
    padding: 1rem;
    grid-template-areas: 'bioimg bioimg' 'bio bio' 'job1 job1' 'job2 job3';
    grid-template-columns: repeat(2, 1fr); }
    .about-info .bio-img {
      grid-area: bioimg;
      margin: auto;
      width: 250px;
      height: 250px; }
    .about-info .bio {
      font-size: 1.2rem; }
    .about-info .job {
      font-size: 1.1rem; }
  .projects .item {
    width: 100%;
    margin: auto; }
    .projects .item .item-content-wrapper p {
      font-size: 1.3rem; }
    .projects .item .item-content-wrapper .project-icons a {
      flex: 1;
      padding: .5rem 1.1rem;
      font-size: .9rem;
      padding: 1rem 2rem; }
      .projects .item .item-content-wrapper .project-icons a:nth-of-type(1) {
        margin-bottom: 0; }
  .boxes div {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    margin-bottom: 3rem; } }

@media only screen and (min-width: 992px) {
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  main {
    padding: 4rem; }
    main#home h1 {
      margin-top: 22vh; }
  .menu .menu-branding {
    flex: 1; }
  .menu .menu-nav {
    flex: 1.25; }
  .about-info {
    padding: 1.2rem;
    grid-template-areas: 'bioimg bio bio bio' 'job1 job1 job1 job1' 'job2 job2 job3 job3';
    grid-template-columns: repeat(4, 1fr); }
    .about-info .bio-img {
      grid-area: bioimg;
      margin: auto; }
  .projects {
    grid-template-columns: 1fr 1fr; }
    .projects .item .project-icons a {
      flex: 1;
      padding: .5rem 1.1rem; }
  .boxes div {
    font-size: 1.9rem; }
  footer .bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem; }
    footer .bottom .left {
      flex-direction: row; }
      footer .bottom .left .footer-nav {
        margin-left: 2rem; }
    footer .bottom .right div {
      align-items: flex-start; } }

@media only screen and (min-width: 1200px) {
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 7rem; }
  main {
    padding: 4.5rem; }
  .menu .menu-branding {
    flex: 1; }
  .menu .menu-nav {
    flex: 1.3; }
  .boxes div {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 4.2rem;
    margin-bottom: 3.2rem; } }
