@import 'config';
@import 'menu';
@import 'mainLogo';


@include fontFace;

// base style
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  // @include background();
  color: $primary-color;
  margin: 0;
  height: 100%;
  background-color: $primary-background-color;
  font-family: gothamLight, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

// headings
h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  margin: 0;

  &.sm-heading {
    max-width: max-content;
    margin-bottom: 2rem;
    padding: .2rem 1rem;
    background-color: rgba(lighten($primary-background-color, 2%), .3);
  }
}

a {

  color: $primary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {

  @include mainLogo;
  min-height: 100vh;

  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0 1rem;

    a {
      @include easeOut(1s);
      margin: 0;
      margin-right: 1.5rem;

      &:hover {
        color: $secondary-color;
        @include heartAnimation(1s);
        @include easeOut(1s);
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 15vh;
    }

    .home-canvas-div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      canvas {
        display: block;
      }
    }

    .name {
      position: absolute;
    }
  }

  &#home,
  &#about,
  &#contact {
    padding: 1.5rem;
  }

  &#work {
    padding: 0;

    .main-logo-link {
      margin-left: 2rem;
      margin-top: 2rem;
    }
  }

  &#about {
    .about-heading {
      margin: 0 0 2rem 0;
      padding: 1rem;
      color: cadetblue;
    }

    .canvas-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: .8;
      z-index: -1;
    }
  }
}

// about page info
.about-info {

  // font-family: gothamLight, sans-serif;
  display: grid;
  grid-template-areas:
    'bioimg'
    'bio'
    'job1'
    'job2'
    'job3';
  grid-gap: 30px;
  grid-template-columns: 1fr;

  .bio-img {
    grid-area: bioimg;
    background-image: url('../assets/img/img.png');
    margin: auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid cadetblue;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;

    h3 {
      color: cadetblue;
      border-bottom: 1px solid #f53b57;
      width: max-content;
    }

    ul {
      padding-left: 2rem;
      margin-top: 2rem;
      list-style-type: disc;
      color: #42a5f5;

      li {
        margin-bottom: .6rem;
      }
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2,
  .job-3 {
    ul {
      list-style-type: disc;
      padding-left: 2rem;
      color: silver;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    h3 {
      color: cadetblue;
      margin-bottom: .5rem;
      font-weight: 400;
      padding: 0 0 1rem 1rem;
      border-bottom: 1px solid cadetblue;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 1rem;
    }

    font-size: 1.1rem;
    background-color: lighten($primary-background-color, 5%);
    border-bottom: 5px solid cadetblue;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 2px 6px lighten($primary-background-color, 5%);
  }

  p {
    line-height: 1.6;
    font-weight: 200;
    color: silver;
  }
}


// work projects
.projects {
  display: grid;
  grid-template-columns: 1fr;

  a {
    display: block;
  }

  img {
    width: 100%;
  }

  .item {
    width: 100%;
    margin: auto;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
    }

    .item-content-wrapper {
      position: absolute;
      padding: 3rem;
      left: 0;
      bottom: 0;
      // font-family: gothamLight, sans-serif;
      text-transform: uppercase;
      color: #FFF;
      z-index: 2;

      p {
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: .8rem;
      }

      h4 {
        // font-family: gothamLight;
        font-size: .9rem;
        margin-bottom: 2rem;
      }

      .project-icons {

        a {
          // font-family: gothamLight;
          font-weight: bold;
          font-size: .8rem;
          background-color: rgba(255, 255, 255, 0);
          border: 2px solid rgba(255, 255, 255, .5);
          display: inline-block;
          padding: .6rem 1rem;
          margin-right: 2rem;
          position: relative;

          &:hover {
            background-color: #FFF;
            border-color: #FFF;
            @include easeOut(.2s);

            &::after {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0);
              background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.6) 75%);

            }
          }

          i {
            font-size: .8rem;
            margin-right: .3rem;
          }

          &:nth-of-type(1) {
            margin-bottom: 1rem;
          }
        }
      }

    }



    &.item-0-0 {
      background-image: url("../assets/img/shuttle-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: salmon;
        }
      }
    }

    &.item-0-1 {
      background-image: url("../assets/img/horizon-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: salmon;
        }
      }
    }

    &.item-0-2 {
      background-image: url("../assets/img/misr-italy-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: salmon;
        }
      }
    }

    &.item-0-3 {
      background-image: url("../assets/img/almahmod-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: salmon;
        }
      }
    }


    &.item-00 {
      background-image: url("../assets/img/restaurant-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: salmon;
        }
      }
    }

    &.item-0 {
      background-image: url("../assets/img/storyBook-img.png");

      &::after {
        // background-color: rgba(255, 174, 201, 0.4);
        background-color: rgba(44, 44, 84, .7);
        background-image: linear-gradient(to right, rgba(44, 44, 84, .7), rgba(0, 0, 0, 0));
      }

      a {
        &:hover {
          color: rgb(205, 97, 51);
        }
      }
    }

    &.item-1 {
      background-image: url("../assets/img/tourism-img.jpg");

      &::after {
        background-color: rgba(22, 36, 60, .7);
        background-image: linear-gradient(to right, rgba(22, 36, 60, .5), rgba(22, 36, 60, 0));
      }

      a {
        &:hover {
          color: rgb(22, 36, 60);
        }
      }
    }

    &.item-2 {
      background-image: url("../assets/img/star_shower.png");

      &::after {
        background-color: rgba(80, 9, 75, .5);
        background-image: linear-gradient(to right, rgba(80, 9, 75, .5), rgba(80, 9, 75, 0));
      }

      a {
        &:hover {
          color: rgb(80, 9, 75);
        }
      }
    }

    &.item-3 {
      background-image: url("../assets/img/task-list.png");

      &::after {
        background: rgba(97, 0, 58, 0.7);
        background-image: linear-gradient(to right, rgba(109, 33, 79, 0.7), transparent);
      }

      a {
        &:hover {
          color: rgb(97, 0, 58);
        }
      }
    }

    &.item-4 {
      background-image: url("../assets/img/tank-shooter.png");

      &::after {
        background-color: rgba(15, 202, 218, 0.49);
        background-image: linear-gradient(to right, rgba(15, 202, 218, 0.49), transparent);
      }

      .project-icons {

        a {
          color: #222;
          background-color: rgba(0, 0, 0, 0);
          border-color: #333;

          &:hover {
            color: rgb(15, 202, 218);
            background-color: #333;
            border-color: #333;

            &::after {
              background-color: transparent;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0)25%, rgba(0, 0, 0, .6)75%);
            }
          }
        }
      }

      p,
      h4 {
        color: #222;
      }
    }

    &.item-5 {
      background-image: url("../assets/img/bouncing-circles.png");

      &::after {
        background-color: rgba(24, 44, 97, 0.78);
        background-image: linear-gradient(to right, rgba(24, 44, 97, 0.78), rgba(24, 44, 97, 0));
      }

      a {
        &:hover {
          color: rgb(24, 44, 97);
        }
      }
    }

    &.item-6 {
      background-image: url("../assets/img/bouncing-balls.png");

      &::after {
        background-color: rgba(183, 157, 2, 0.75);
        background-image: linear-gradient(to right, rgba(183, 157, 2, 0.9), transparent);
      }

      .project-icons {

        a {
          color: #222;
          background-color: transparent;
          border-color: #333;

          &:hover {
            color: yellow;
            border-color: #333;
            background-color: #333;

            &::after {
              background-color: transparent;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .6) 75%);
            }
          }
        }
      }

      p,
      h4 {
        color: #222;
      }
    }




  }
}


// contact page
.boxes {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 3rem;

  div {
    position: relative;
    font-size: .8rem;
    padding: 1rem;
    border: 2px solid $secondary-color;
    border-radius: 4rem;
    margin-bottom: 2rem;
    cursor: text;
    letter-spacing: 2px;
    @include easeOut(.3s);

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 4rem;
      transform: scale(0);
      // @include easeOut(.3s);
    }

    &:hover {
      transform: scale(1.1);

      &::after {
        background-color: darken($primary-background-color, 20%);
        opacity: .25;
        transform: scale(1);
        @include easeOut(.3s);
      }
    }
  }
}


@import 'footer';


@import 'media';