@import 'config';
@import 'menu';


// base style
* {
  box-sizing: border-box;
}

body {
  @include background();
  color: $primary-color;
  margin: 0;
  height: 100%;
  background-color: $primary-background-color;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Muli', sans-serif;
  font-family: 'Dosis', sans-serif;

}
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

// headings
h1, h2, h3, h4, h5 {
  margin: 0;
  &.sm-heading {
    max-width: max-content;
    margin-bottom: 2rem;
    padding: .2rem 1rem;
    background-color: rgba(lighten($primary-background-color, 2%), .5);
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  min-height: 100vh;
  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0 1rem;
    a {
      @include easeOut(1s);
      margin: 0;
      margin-right: 1.5rem;
      &:hover {
        color: $secondary-color;
        @include heartAnimation(1s);
        @include easeOut(1s);
      }
    }
  }
  &#home {
    overflow: hidden;
  }
  &#home,
  &#about,
  &#work,
  &#contact {
    padding: 1.5rem;
  }
}

// about page info
.about-info {
  font-family: 'Muli', sans-serif;
  display: grid;
  grid-template-areas:
  'bioimg'
  'bio'
  'job1'
  'job2'
  'job3';
  grid-gap: 30px;
  grid-template-columns: 1fr;

  .bio-img {
    grid-area: bioimg;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    h3 {
      color: $secondary-color;
      margin-bottom: .5rem;
    }
    font-size: 1.1rem;
    background-color: lighten($primary-background-color, 5%);
    border-bottom: 5px solid $secondary-color;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 2px 6px lighten($primary-background-color, 5%);
  }
  h3, h5 {
    font-weight: 300;
  }
  p {
    line-height: 1.6;
    font-weight: 200;
  }
}


// work projects
.projects {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;

  a {
    display: block;
  }
  img {
    width: 100%;
  }

  .item {
    width: 100%;
    margin: auto;

    a {
      box-shadow: 1px 2px 12px darken($primary-background-color, 4%);
      position: relative;

      .overlay {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 0;
        background-color: darken($primary-background-color, 4%);        
        overflow: hidden;
        padding: 0 1.2rem;
        opacity: .8;
        line-height: 1.5;
        letter-spacing: 1px;
        @include easeOut(.6s);

        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 1rem;

          div {
            font-size: .9rem;
            padding: .4rem .9rem;
            background-color: darken($primary-background-color, 20%);
            margin: 0 1rem 1rem 0;
            border-radius: 2rem;
            border: 1px solid $secondary-color;
            cursor: text;
          }
        }
      }

      &:hover {
        .overlay {
          height: 100%;
          padding: 1rem 1.2rem;
        }
      }
    }


    .project-icons {
      font-family: 'Muli', sans-serif;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      a {
        flex: 1;
        padding: .5rem 1.5rem;
        letter-spacing: 2px;
        border-left: .7rem solid $secondary-color;
        background-color: darken($primary-background-color, 40%);

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          top: 0;
          height: 100%;
          width: 0;
          background-color: lighten($primary-background-color, 1);
          opacity: .3;
          @include easeOut(.4s);
        }

        &:hover {
          color: lighten($secondary-color, 2);

          &:after {
            width: 100%;
          }
        }

        i {
          margin-right: .6rem;
        }
      }

    }

  }
}


// contact page
.boxes {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: max-content;

  div {
    position: relative;
    font-size: 1rem;
    padding: 1rem 1.4rem;
    border: 2px solid $secondary-color;
    border-radius: 4rem;
    margin-bottom: 2rem;
    cursor: text;
    letter-spacing: 2px;
    @include easeOut(.3s);

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 4rem;
      transform: scale(0);
      // @include easeOut(.3s);
    }
    &:hover {
      transform: scale(1.1);
      
      &::after {
        background-color: darken($primary-background-color, 20%);
        opacity: .25;
        transform: scale(1);
        @include easeOut(.3s);
      }
    }
  }
}


@import 'media';