@import 'config';
@import 'menu';


// base style
* {
  box-sizing: border-box;
}

body {
  @include background();
  color: $primary-color;
  margin: 0;
  height: 100%;
  background-color: $primary-background-color;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Muli', sans-serif;
  font-family: 'Dosis', sans-serif;

}
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

// headings
h1, h2, h3, h4, h5 {
  margin: 0;
  &.sm-heading {
    max-width: max-content;
    margin-bottom: 2rem;
    padding: .2rem 1rem;
    background-color: rgba(lighten($primary-background-color, 2%), .5);
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  min-height: 100vh;
  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0 1rem;
    a {
      @include easeOut(1s);
      margin: 0;
      margin-right: 1.5rem;
      &:hover {
        color: $secondary-color;
        @include heartAnimation(1s);
        @include easeOut(1s);
      }
    }
  }
  &#home {
    overflow: hidden;
  }
  &#about {
    padding: 1.5rem;
  }
}


.about-info {
  font-family: 'Muli', sans-serif;
  display: grid;
  grid-template-areas:
  'bioimg'
  'bio'
  'job1'
  'job2'
  'job3';
  grid-gap: 30px;
  grid-template-columns: 1fr;

  .bio-img {
    grid-area: bioimg;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    h3 {
      color: $secondary-color;
      margin-bottom: .5rem;
    }
    font-size: 1.1rem;
    background-color: lighten($primary-background-color, 5%);
    border-bottom: 5px solid $secondary-color;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 2px 6px lighten($primary-background-color, 5%);
  }
  h3, h5 {
    font-weight: 300;
  }
  p {
    line-height: 1.6;
    font-weight: 200;
  }
}




@import 'media';